@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>VialSnap is an Online Pharmaceutical Dashboard Web App designed for independent pharmacies to manage patients and their prescriptions.</p>

