@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>



 

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Asaad Khattab</h5>
        <h6 class="card-subtitle mb-2 text-muted">Web Developer</h6>
        <p class="card-text">
            <address>
                One VialSnap Way<br />
                Louisville, Ky 40241<br />
                <abbr title="Phone">P:</abbr>
                502 830 2162
            </address>
        </p>
        <a href="mailto:asaad@khattab.live">asaad@khattab.live</a>
        <a href="https://github.com/asaadkhattab/VialSnap">GitHub</a>
    </div>
</div>