@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Way<br />
    Louisville, Ky 40241<br />
    <abbr title="Phone">P:</abbr>
    502 830 2162
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:asaad@khattab.live">asaad@khattab.live</a><br />
</address>