@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>VIALSNAP</h1>
    <p class="lead">VialSnap is an Online Pharmaceutical Dashboard Web App designed for independent pharmacies to manage patients and their prescriptions. </p>
</div>

<div class="row">

</div>